<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  [class$="-demonstration-box"] {
    padding: 1em;
  }

  [class$="-text"] {
    margin: .5em;
  }
</style>

<div class="viewport">
  <h1>{{title}}</h1>
  <div class="qia-markdown-text-demonstration-box">
    <div class="qia-markdown-text">
      <pre>
# Qia MarkDown Text

It is recommended to nest a pre element inside the element with [class~="qia-markdown-text"].
      </pre>
    </div>
    <div class="qia-markdown-text" style="color: #f0f0f0; background-color: #505050;">
      <pre>
# Qia MarkDown Text

It is recommended to nest a pre element inside the element with [class~="qia-markdown-text"].
      </pre>
    </div>
    <div class="qia-markdown-text" style="height: 360px;">
      <pre>
# Qia MarkDown Text

It is recommended to nest a pre element inside the element with [class~="qia-markdown-text"].
      </pre>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
